Darian.Hinman@divergence.one/BallGamesPractice.xlsx
drew.minkin@divergence.one/py/Core Python Lessons/my_dict2_items.csv
drew.minkin@divergence.one/py/Core Python Lessons/my_dict2_items.tsv
drew.minkin@divergence.one/py/EDA Python Lessons/Pandas/azureml_export.csv
